.form {
    text-align: center;
    align-items: center;
    background-color: var(--clr-dark);
    /* flex: 1 1 0%; */
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 2rem;
    margin-left: 8.8rem;
    display: inline-block;
    width: 66%;
    margin-bottom: 5rem;
    /* color: var(--clr-accent);
    font-size: 1.25rem; */
    display: flex;
    justify-content: space-between;
    box-shadow: var(--bs);
}

.formInputAdd{
    display: inline-flex;
    width: 96%;
    border: none;
}
.form, button {
    appearance: none;
    border: none;
    background-color: none;

}
.AddButton {
    margin-left: 30px;
    background-color: var(--clr-dark);
    color: var(--clr-light);
}
/* .item {
    display: inline-block;
    width: fit-content;
    height: 1.2rem;
    color: white;

} */
.InputWithLabel {
    padding-right: 20px;
    width: 60%;
    border: none;
}

@media(width: 375px){
    .form {
    margin-left: 2.8rem;
    width: 75%;
    margin-bottom: 3rem;
}
}
@media(width: 1024px){
    .form {
        width: 66%;
    }
}
@media (width: 768px) {
    .form {
        width: 65%;
    }
}